{% extends 'section/artist/base.html.twig' %}
{% use '_template/_single.html.twig' %}

{% block single_image %}
    {{ component('Card:Image', { 
        image: post.Image|default(''),
        corner_style: 'rounded',
        style: 'thumbnail',
    }) }}
{% endblock %}

{% block single_content_area %}
    <div class="row">
        <div class="d-flex align-items-center">
            <h3 class="font-gothic fs-1 me-2">{{ post.Name }}
                {% if post.isVerified %}
                    <span
                        class="position-absolute top-0"
                        data-bs-toggle="tooltip" 
                        data-bs-title="Verified"
                        {{ stimulus_controller('verified-badge') }}
                    >
                        <i class="fa-solid fa-circle-check text-info fs-4"></i>
                    </span>
                {% endif %}
            </h3>
        </div>
    </div>
    <div class="mb-3">
        {% if post.Description %}
            {{ post.Description|raw }}
        {% else %}
        <div>{{ post.Name }}{{' has not yet provided a description'|trans }}</div>
        {% endif %}
    </div>
{% endblock %}

{% block single_details_area %}
    {% if post.Crews is defined %}
        {% if post.Crews|length > 0 %}
            <div class="row mb-3">
                <h5>{{'Crews'|trans}}</h5>
                <div class="d-flex flex-wrap list-unstyled gap-1 mt-2">
                    {% for crew in post.Crews %}
                        {{ component('Button:Link', { 
                            image: crew.Image|default(''),
                            path_url: path('app_crew_single', { 'slug': crew.Slug }),
                            color: 'primary',
                            title: crew.Name,
                        }) }}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endif %}
    {% if post.Artist is defined %}
        {% if post.Artist|length > 0 %}
            <div class="row mb-3">
                <h5>{{'Artists'|trans}}</h5>
                <div class="d-flex flex-wrap list-unstyled gap-1 mt-2">
                    {% for artist in post.Artist %}
                        {{ component('Button:Link', { 
                            image: artist.Image|default(''),
                            path_url: path('app_artist_single', { 'slug': artist.Slug }),
                            color: 'primary',
                            title: artist.Name,
                        }) }}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endif %}
    {% if post.Links is defined %}
        {% if post.Links|length > 0 %}
            <div class="row mb-3">
                <h5>{{'Social Links'|trans}}</h5>
                <div class="d-flex flex-wrap list-unstyled gap-1 mt-2">
                    {% for link in post.Links %}
                        {{ component('Button:Link', { 
                            icon: link.Type.Icon,
                            path_url: link.Url,
                            color: 'secondary',
                            title: link.Type,
                            new_window: true,
                        }) }}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endif %}
    {% if post.Tourbox is defined %}
        {% if post.Tourbox|length > 0 %}
            <div class="row mb-3">
                <h5>{{'Next Dates'|trans}}</h5>
                <div class="m-0 p-0">
                    {% set SongkickId = post.Tourbox|split("artists/")|last %}
                    {% set SongkickId = SongkickId|split("-")|first %}
                    <a 
                        href="https://www.songkick.com/artists/{{ SongkickId }}" 
                        class="songkick-widget" 
                        data-theme="light" 
                        data-track-button="off" 
                        data-detect-style="on" 
                        data-locale="en" 
                        data-other-artists="off" 
                        data-share-button="off" 
                        data-country-filter="off" 
                        data-rsvp="off" 
                        data-request-show="off" 
                        data-past-events="off" 
                        data-past-events-offtour="off" 
                        data-remind-me="off" 
                        style="display: none;">
                    </a>
                    <script src='//widget-app.songkick.com/injector/{{ SongkickId }}'></script>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block single_description_area %}
    <div class="mb-3">
        <h5 class="">{{'Content'|trans}}</h5>
        {% if related_posts|length > 0 %}
            <div class="row g-3 mt-3">
                {% for item in related_posts %}
                    {% include('section/artist/_component/_card.html.twig') %}
                {% endfor %}
            </div>
        {% else %}
            <div>{{ 'We could not find any contents for '|trans }}{{ post.Name }}</div>
        {% endif %}
    </div>
{% endblock %}

{% block single_bottom_area %}{% endblock %}
{% block single_title_section %}{% endblock %}