{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ title }}{% endblock %}

{% block body %}
    <div class="main overflow-hidden">
        {% include('Artists/_partials/sidebar.hml.twig') %}
        {# {% include('_partials/_header.html.twig') %} #}

        <div class="content p-3 mt-3 overflow-hidden">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}