{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ title }}{% endblock %}

{% block body %}
    <div class="main overflow-hidden">
        {% include('Main/_partials/header.html.twig') %}
        {% include('Main/_partials/sidebar.hml.twig') %}

        <div id="content" class="content p-4" data-simplebar>
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}