{% if posts|length > 0 %}
    {% for post in posts %}
        <div class="col-2">
            <a class="m-0 p-0 d-block rounded bg-light pe-auto position-relative rounded" href="{{ path(url_path, { 'slug': post.Slug }) }}">
                <div class="image img-thumbnail img-cover p-0 m-0 rounded">
                    <div class="grid-overlay position-absolute bg-light-75 p-2 text-body">
                        <p class="m-0 p-0 small text-start">{{ post_type }}</p>
                        <P class="m-0 p-0 small text-start fw-bold">{{ post.Title|upper }}</p>
                    </div>
                    <img class="w-100 h-100 rounded" src="
                        {% if post.Image %}
                        {{ easy_media_path(post.Image)|imagine_filter('thumbnail') }}
                        {% else %}
                        {{ asset('build/images/placeholder.jpg')|imagine_filter('thumbnail') }}
                        {% endif %}
                    ">
                </div>
            </a>
        </div>
    {% endfor %}
{% endif %}