{# _component/card_large.html.twig #}
{% block card_large %}
    <div class="col-{{ col_width }} g-{{ gap_size }} text-center">
        <a class="grid-post m-0 p-0 d-block {{ corner_style }} border border-light-subtle bg-light pe-auto position-relative p-{{ card_inner_padding }} text-decoration-none" href="{{ path(path_url, { 'slug': item.Slug }) }}">
            <div class="image img-thumbnail img-cover p-0 m-0 {{ corner_style }} border-0 overflow-hidden">
                {% include('_component/img.html.twig') %}
            </div>
            {% if card_text %}
                <div class="grid-post-text">
                    <div class="text-start text-body fw-bold mt-3 text-truncate">{{ card_large_text }}</div>
                    <p class="small text-start text-body m-0 p-0 text-truncate">{{ card_small_text }}</p>
                </div>
            {% endif %}

            {% if post.createdAt is defined %}
                {% if post.createdAt >= date('-30 days') %}
                    <span class="card-badge position-absolute p-2 bg-spur1-red">
                        <span class="visually-hidden">New</span>
                    </span>
                {% endif %}
            {% endif %}
        </a>
    </div>
{% endblock %}