{# _component/card_large.html.twig #}
{% block card_large %}
    <div class="col-{{ col_width }} g-{{ gap_size }} text-center">
        <a class="grid-post m-0 p-0 d-block {{ corner_style }} bg-light-subtle pe-auto position-relative p-3 text-decoration-none shadow" href="{{ path(path_url, { 'slug': item.Slug }) }}">
            <div class="image img-thumbnail img-cover p-0 m-0 {{ corner_style }} border-0 overflow-hidden">
                {% include('_component/img.html.twig') %}
            </div>
            <div class="text-start text-body fw-bold mt-3 text-truncate">{{ card_large_text }}</div>
            <p class="small text-start text-body m-0 p-0 text-truncate">{{ card_small_text }}</p>
        </a>
    </div>
{% endblock %}