{% block content %}
    {% if post %}
        {% block single_title_section %}
            <div class="row">
                <div class="col-12">
                    <h3 class="font-gothic fs-1">{% block single_title %}{% endblock %}</h3>
                </div>
            </div>
        {% endblock %}
        
        <div class="row" data-controller="blurryload">
            <div class="col-{{ left_width }} p-3 position-relative {{ left_alignment|default('') }}">
                {% block single_content_area %}
                    {% if post.YouTubeUrl is defined %}
                        {{ component('Embed:YouTube', { 
                            youtube_url: post.YouTubeUrl|default(''),
                        }) }}
                    {% endif %}
        
                    {% if post.MixcloudUrl is defined %}
                        {{ component('Embed:Mixcloud', { 
                            mixcloud_url: post.MixcloudUrl|default(''),
                        }) }}
                    {% endif %}
                {% endblock %}
            </div>
            <div class="col-{{right_width}} p-3">
                {% block single_image_area %}
                    <div class="row">
                        <div class="img-single overflow-hidden">
                            {% block single_image %}
                                {{ component('Card:Image', { 
                                    image: post.Image|default(''),
                                    corner_style: 'rounded',
                                    style: 'thumbnail_grayscale',
                                }) }}
                            {% endblock %}
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>

        <hr>

        <div class="row mb-3">
            
            <div class="col-{{left_width}} px-3">
                {% block single_description_area %}
                <div class="mb-3">
                    <h5>{{'Description'|trans}}</h5>
                    <div class="ps-1">
                        {% if post.Description %}
                            {{ post.Description|raw }}
                        {% else %}
                        <div>{{ 'There was no Description for this post'|trans }}</div>
                        {% endif %}
                    </div>
                </div>
                {% endblock %}
            </div>

            <div class="col-{{right_width}} px-3">

            {% block single_details_area %}
                {% if post.Artists|length > 0 %}
                <div class="mb-3">
                    <h5>{{'Involved Artists'|trans}}</h5>
                    <div class="d-flex flex-wrap gap-2 ps-1">
                        {% for artist in post.Artists %}
                            {{ component('Button:Link', {
                                image: artist.Image|default(''),
                                path_url: path('app_artist_single', { 'slug': artist.Slug }),
                                color: 'primary',
                                title: artist.Name
                            }) }}
                        {% endfor %}
                    </div>
                </div>
                {% endif %}

                {% if post.Crews|length > 0 %}
                    <div class="mb-3">
                        <h5>{{'Involved Crews'|trans}}</h5>
                        <div class="d-flex flex-wrap gap-2 ps-1">
                            {% for crew in post.Crews %}
                                {{ component('Button:Link', { 
                                    image: crew.Image|default(''),
                                    path_url: path('app_crew_single', { 'slug': crew.Slug }),
                                    color: 'primary',
                                    title: crew.Name,
                                }) }}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if post.Location is defined %}
                <div class="mb-3">
                    <h5>{{'Involved Location'|trans}}</h5>
                    <div class="list-unstyled ps-1">
                        {% if post.Location %}
                            {{ component('Button:Link', { 
                                icon: 'fa-solid fa-location-dot',
                                path_url: post.Location.MapsUrl,
                                color: 'primary',
                                title: post.Location.Name,
                            }) }}
                        {% else %}
                            <div class="ps-3">{{ 'We could not find any Location related to this post' }}</div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}

                <div class="mb-3">
                    <h5>{{'Tags'|trans}}</h5>
                    <div class="d-flex flex-wrap gap-2 ps-1">
                        {% if post.Tags|length > 0 %}
                            {% for tag in post.Tags %}
                                {{ component('Badge:Link', { 
                                    icon: 'fa-solid fa-tag',
                                    path_url: '',
                                    title: tag.Name ~ ' (' ~ tag.Format ~ ')',
                                }) }}
                            {% endfor %}
                        {% else %}
                            <div class="">{{ 'We could not find any Tags related to this post'|trans }}</div>
                        {% endif %}
                    </div>
                </div>

            {% endblock %}
            </div>
        </div>
        <div class="mb-3">
            {% block single_bottom_area %}
                {% if post.Links is defined %}
                    {% if post.Links|length > 0 %}
                        <div class="row mb-3">
                            <h5>{% block single_bottom_area_title %}{{'View Content On'|trans}}{% endblock %}</h5>
                            <div class="d-flex flex-wrap list-unstyled gap-1 mt-2">
                                {% for link in post.Links %}
                                    {{ component('Button:Link', { 
                                        icon: link.Type.Icon,
                                        path_url: link.Url,
                                        color: 'secondary',
                                        title: link.Type,
                                        new_window: true,
                                    }) }}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endblock %}
        </div>
    {% else %}
        <p>{{'There was no post found.'|trans}}</p>
    {% endif %}
{% endblock %}