{% if app.user %}
<div class="dropdown text-end">
    <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="sidebarDropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
        {% if app.user.Image %}
            <img src="{{ easy_media_path(app.User.Image)|imagine_filter('thumbnail_medium') }}" alt="User Avatar" width="32" height="32" class="rounded-circle me-2">
        {% else %}
            <img src="{{ asset('build/images/placeholder.jpg')|imagine_filter('thumbnail_mediumm') }}" alt="User Avatar Not Defined" width="32" height="32" class="rounded-circle me-2">
        {% endif %}
        {{ app.user.Name }}
    </a>

    {% set navProfile = knp_menu_get('navProfile') %}
    {{ knp_menu_render(navProfile, {'template': '_partials/header/menu_profile.html.twig'}) }}
</div>
{% else %}
    <a href="{{ path('app_login') }}" type="button" class="btn btn-outline-primary me-2">Login</a>
    <a href="{{ path('app_register') }}" type="button" class="btn btn-primary">Sign-up</a>
{% endif %}