{% if constant('class', artist) == 'App\\Entity\\Artist' %}
    {% set url_path = 'app_artists_single' %}
{% endif %}

<div class="col-2">
    <a class="m-0 p-0 d-block rounded bg-light pe-auto position-relative rounded" href="{{ path(url_path, { 'slug': artist.Slug }) }}">
        <div class="image img-thumbnail img-cover p-0 m-0 rounded overflow-hidden">
            <div class="grid-overlay position-absolute bg-light-75 p-2 text-body">
                <P class="m-0 p-0 small text-start fw-bold">{{ artist.Name|upper }}</p>
            </div>
            <img 
                class="w-100 h-100 blurry-load rounded overflow-hidden"
                {% if artist.Image %}
                    src="{{ easy_media_path(artist.Image)|imagine_filter('thumbnail_small_grayscale') }}"
                    data-large="{{ easy_media_path(artist.Image)|imagine_filter('thumbnail_grayscale') }}"
                {% else %}
                    src="{{ asset('build/images/placeholder.jpg')|imagine_filter('thumbnail_small') }}"
                    data-large="{{ asset('build/images/placeholder.jpg')|imagine_filter('thumbnail') }}"
                {% endif %}
            >
        </div>
    </a>
</div>