<button 
    type="button" 
    class="btn btn-outline-{{ this.color }} {{ this.size }} rounded text-decoration-none"
>
    {% if not this.icon is empty %}
        <i class="{{ this.icon }} me-2"></i>
    {% endif %}

    {% if not this.image is empty %}
        {{ component('Card:Image', { 
            image: this.image|default(''),
            corner_style: 'rounded-circle me-2',
            style: 'thumbnail',
            width: '32',
            load: '',
        }) }}
    {% endif %}

    {{ this.title }}
</button>