{% extends 'Artists/_template/single.html.twig' %}
{% set left_width = 9 %}
{% set right_width = 3 %}

{% block single_title %}{{ post.Name }}{% endblock %}

{% block single_content_area %}
    <div class="mb-3">
        <h5>{{'Description'|trans}}</h5>
        {% if post.Description %}
            {{ post.Description|raw }}
        {% else %}
        <div>{{ post.Name }}{{' has not yet provided a description'|trans }}</div>
        {% endif %}
    </div>
{% endblock %}

{% block single_description_area %}
    <div class="mb-3">
        <h5 class="">{{'Content'|trans}}</h5>
        {% if contents|length > 0 %}
            <div class="row g-3 mt-3">
                {% include 'Artists/_partials/_partial_card.html.twig' with { 'posts':radios, 'post_type':'Radio', 'url_path':'app_main_radio_single' } only %}
                {% include 'Artists/_partials/_partial_card.html.twig' with { 'posts':windowlickers, 'post_type':'Windowlicker', 'url_path':'app_main_windowlicker_single' } only %}
                {% include 'Artists/_partials/_partial_card.html.twig' with { 'posts':teletimes, 'post_type':'Teletime', 'url_path':'app_main_teletime_single' } only %}
            </div>
        {% else %}
            <div>{{ 'We could not find any contents for '|trans }}{{ post.Name }}</div>
        {% endif %}
    </div>
{% endblock %}
{% block single_details_area %}
    <div class="row mb-3">
        <h5>{{'Tags'|trans}}</h5>
        {# 
        <div class="d-flex flex-wrap gap-1 ps-3">
        {% if post.Tags|length > 0 %}
            {% for tag in post.Tags %}
                <a href="" class="icon-link text-decoration-none"><span class="badge bg-dark"><i class="fa-solid fa-tag me-2"></i>{{ tag.Name }} ({{ tag.Format }})</span></a>
            {% endfor %}
        {% else %}
            <div class="">{{ 'We could not find any Tags related to this post'|trans }}</div>
        {% endif %}
        </div>
        #}
    </div>
{% endblock %}

{% block single_bottom_area %}{% endblock %}