{% set card_width = 2 %}
{% set card_gap = 3 %}
{% set card_overlay_padding = 2 %}
{% set card_url = 'app_main_index' %}
{% set card_text_small_enabled = true %}
{% set card_text_large_enabled = true %}
{% set card_overlay_enabled = true %}
{% set card_style = 'rounded' %}

{% block card %}
    <div class="col-{{ card_with }} g-{{ card_gap }} text-center">
        <a class="grid-post m-0 p-0 d-block {{ card_style }} bg-light pe-auto position-relative" href="{{ path(card_url, { 'slug': item.Slug }) }}">
            <div class="image img-thumbnail img-cover p-0 m-0 {{ card_style }} overflow-hidden">
                <div class="grid-overlay position-absolute bg-light-75 p-{{ card_overlay_padding }} text-body">
                    {% if card_text_small_enabled %}<p class="m-0 p-0 small text-start">{% block card_text_small %}{{ item.Date|date('m/Y') }}{% endblock %}</p>{% endif %}
                    {% if card_text_large_enabled %}<P class="m-0 p-0 small text-start fw-bold">{% block card_text_large %}{{ item.Title|upper }}{% endblock %}</p>{% endif %}
                </div>
                {% use 'partial/img.html.twig' with { 'item':item } only %}
            </div>
        </a>
    </div>
{% endblock %}